apiVersion: apps/v1
kind: Deployment
metadata:
  name: cicd-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cicd-app
  template:
    metadata:
      labels:
        app: cicd-app
    spec:
      containers:
      - name: cicd-app
        image: sirajahmad77/cicd-final-pro-in:latest
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: cicd-app-service
spec:
  type: NodePort
  selector:
    app: cicd-app
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
      nodePort: 30036
